<%= form_for(@adm_galeria) do |f| %>
<% if @adm_galeria.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(@adm_galeria.errors.count, "error") %> prohibited this adm_galeria from being saved:</h2>

  <ul>
    <% @adm_galeria.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>
<div class="row">
  <div class="col-md-8">
    <%= f.label :titulo %><br>
    <%= f.text_field :titulo, class: "form-control" %>
  </div>
  <div class="col-md-8">
    <%= f.label :descricao %><br>
    <%= f.text_area :descricao, class: "form-control" %>
  </div>  
  <div class="col-md-8">
    <%= f.submit 'Cadastrar', class: "btn btn-primary"  %>
  </div>
</div>
<% end %>
