<h2><%= t('devise.unlocks.title.new') %></h2>

<%= form_for(resource, as: resource_name, url: unlock_path(resource_name), html: { method: :post }) do |f| %>
  <%= devise_error_messages! %>

  <div class="form-group">
    <%= f.label :email, t('devise.unlocks.form.email'), class: "form_label" %><br />
    <%= f.email_field :email, autofocus: true, class: "form-control" %>
  </div>

  <div class="actions">
    <%= f.submit t('devise.unlocks.form.new.submit') %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
