<h1><%=t('videos.listing_videos')%></h1>

<table class="table">
  <thead>
  <tr>
    <th>Titulo</th>
    <th>url_codigo</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @adm_videos.each do |adm_video| %>
      <tr>
        <td><%= adm_video.titulo %></td>
        <td><%= image_tag("http://i1.ytimg.com/vi/#{adm_video.url_codigo}/default.jpg", alt: "Imagem capa") %></td>
        <td><%= link_to 'Show', adm_video, class: "btn btn-info" %></td>
        <% if can? :update, @adm_videos %>
            <td><%= link_to 'Edit', edit_adm_video_path(adm_video), class: "btn btn-primary" %></td>
        <% end %>
        <% if can? :destroy, @adm_videos %>
            <td><%= link_to 'Destroy', adm_video, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %></td>
        <% end %>
      </tr>
  <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Video', new_adm_video_path, class: "btn btn-success" %>
