<p id="notice"><%= notice %></p>

<p>
  <strong>Titulo:</strong>
  <%= @adm_video.titulo %>
</p>

<p>
  <strong>url_codigo:</strong>
  <%= image_tag("http://i1.ytimg.com/vi/#{@adm_video.url_codigo}/default.jpg", alt: @adm_video.titulo) %>
</p>

<%= link_to 'Edit', edit_adm_video_path(@adm_video), class: "btn btn-primary" %> |
<%= link_to 'Back', adm_videos_path, class: "btn btn-default" %>
