<%= form_for(@adm_noticia) do |f| %>
    <% if @adm_noticia.errors.any? %>
        <div id="error_explanation" class="alert alert-danger">
          <h2><%= pluralize(@adm_noticia.errors.count, "error") %> prohibited this adm_noticia from being saved:</h2>

          <ul>
            <% @adm_noticia.errors.full_messages.each do |message| %>
                <li>
                  <%= message %>
                </li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="form-group">
      <%= f.label :titulo, class: "form_label" %>
      <%= f.text_field :titulo, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :subtitulo, class: "form_label" %>
      <%= f.text_area :subtitulo, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :descricao, class: "form_label" %>
      <%= f.text_area :descricao, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :imagem_capa, class: "form_label" %>
      <%= f.file_field :imagem_capa  %>
    </div>
    <div class="form-group">
      <%= f.label :autor, class: "form_label" %>
      <%= f.text_field :autor, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.submit 'Cadastrar', class: "btn btn-primary" %>
    </div>

<% end %>
