<%= form_for(@adm_galerias_imagem) do |f| %>
  <% if @adm_galerias_imagem.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@adm_galerias_imagem.errors.count, "error") %> prohibited this adm_galerias_imagem from being saved:</h2>

      <ul>
      <% @adm_galerias_imagem.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :galeria_id %><br>
    <%= f.hidden_field :galeria_id, :value => params[:id] %>
  </div>
  <div class="form-group">
    <%= f.label :imagem %><br>
    <%= f.file_field :imagem, multiple: true %>
  </div>
  <div class="form-group">
    <%= f.submit 'Adicionar imagens', class: "btn btn-success" %>
  </div>
<% end %>
