<p id="notice"><%= notice %></p>

<p>
  <strong>Galeria:</strong>
  <%= @adm_galerias_imagem.galeria_id %>
</p>

<p>
  <strong>Imagem:</strong>
  <%= @adm_galerias_imagem.imagem %>
</p>

<%= link_to 'Edit', edit_adm_galerias_imagem_path(@adm_galerias_imagem), class: "btn btn-primary" %> |
<%= link_to 'Back', adm_galerias_imagens_path, class: "btn btn-default" %>
