<p><%= t('devise.mailer.title.hello') %> <%= @resource.email %>!</p>

<p><%= t('devise.mailer.text.reset.paragraph1') %></p>

<p><%= link_to t('devise.mailer.link.reset'), edit_password_url(@resource, reset_password_token: @token) %></p>

<p><%= t('devise.mailer.text.reset.paragraph2') %></p>
<p><%= t('devise.mailer.text.reset.paragraph3') %></p>
