<!DOCTYPE html>
<html>
	<head>
		<title>Cmsrails</title>
		<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>

		<%= csrf_meta_tags %>
	</head>
	<body>

		<%= render 'layouts/adm_menu' %>

		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<header class="header-title">
						<hgroup>
							<h1>CMS Rails - 1.0</h1>
							<h4>Projeto Open Source de GilcierWeb</h4>
						</hgroup>

					</header>

					<section>
						<%= yield %>
					</section>

					<footer>
						<p>
							Copyright &copy; GilcierWeb Rails - <%= Time.new.year %> - <a href="http://gilcierweb.com.br" target="_blank">gilcierweb.com.br</a>
						<p>
					</footer>
				</div>
			</div>
		</div>
		<!--Scripts-->
		<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>	
	</body>
</html>
