<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Ruby on Rails, GilcierWeb">
  <meta name="author" content="GilcierWeb - gilcierweb.com.br - gilcierweb@gmail.com">
  <title>Cmsrails</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->
  <%= csrf_meta_tags %>
</head>
<body>

<%= render 'layouts/adm_menu' %>

<div class="container">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
      <header class="header-title">
        <hgroup>
          <h1>CMS Rails - 1.0</h1>
          <h4>Projeto Open Source de GilcierWeb</h4>
        </hgroup>

      </header>

      <section>
        <%= yield %>
      </section>

      <footer class="text-center">
        <p>
          Copyright &copy; GilcierWeb Rails - <%= Time.new.year %> -
          <a href="http://gilcierweb.com.br" target="_blank">gilcierweb.com.br</a>

        <p>
      </footer>
    </div>
  </div>
</div>
<!--Scripts-->
<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

<% if content_for?(:js) %>
    <script type="text/javascript">
        <%= yield :js %>
    </script>
<% end %>
</body>
</html>
