<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Ruby on Rail, GilcierWeb">
  <meta name="author" content="GilcierWeb - gilcierweb.com.br - gilcierweb@gmail.com">
  <title>Cmsrails</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head> 
<body>
  <div class="container">
   <div class="row">
    <div class="col-md-12">
     <header class="header-title">
      <hgroup>
       <h1>CMS Rails - 1.0</h1>
       <h4>Projeto Open Source de GilcierWeb</h4>
     </hgroup>

     <%= render 'layouts/menu' %>

     <% if current_page?('/') || current_page?(controller: 'home')%>
     <%= render 'layouts/banner' %>
     <% end %>

   </header>

   <section>
    <%= yield %>
  </section>

  <footer class="text-center">
    <hr />
    <p>
     Copyright &copy; GilcierWeb Rails - <%= Time.new.year %> - <a href="http://gilcierweb.com.br" target="_blank">gilcierweb.com.br</a>
     <p>
     </footer>
   </div>
 </div>
</div>
<!--Scripts-->
<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
<script type="text/javascript">
  var uploader = new plupload.Uploader({
    runtimes : 'html5,flash,silverlight,html4',
browse_button : 'pickfiles', // you can pass in id...
container: document.getElementById('container'), // ... or DOM Element itself
url : '<%= adm_galerias_imagens_path %>',
multipart: true,
multipart_params: {

  "authenticity_token" : '<%= form_authenticity_token %>'
  ,
  '<%= Rails.application.config.session_options[:key] %>': '<%= request.session_options[:id] %>',
  'galeria_id': '<%= request.session_options[:id] %>'%>
},
flash_swf_url : '/assets/Moxie.swf',
silverlight_xap_url : '/assets/plupload/Moxie.xap',
file_data_name:"imagem",
filters : {
  max_file_size : '10mb',
  mime_types: [
  {title : "Image files", extensions : "jpg,gif,png"},
  {title : "Zip files", extensions : "zip"}
  ]
},

init: {
  PostInit: function() {
    document.getElementById('filelist').innerHTML = '';

    document.getElementById('uploadfiles').onclick = function() {
      uploader.start();
      return false;
    };
  },

  FilesAdded: function(up, files) {
    plupload.each(files, function(file) {
      document.getElementById('filelist').innerHTML += '<div id="' + file.id + '">' + file.name + ' (' + plupload.formatSize(file.size) + ') <b></b></div>';
    });
  },

  UploadProgress: function(up, file) {
    document.getElementById(file.id).getElementsByTagName('b')[0].innerHTML = '<span>' + file.percent + "%</span>";
  },

  Error: function(up, err) {
    document.getElementById('console').innerHTML += "\nError #" + err.code + ": " + err.message;
  }
}
});

uploader.init();
<%= yield :js %>
</script>
</body>
</html>
